$border-styles: (
  solid: solid,
  dashed: dashed,
  dotted: dotted,
  double: double,
  groove: groove,
  ridge: ridge,
  inset: inset,
  outset: outset,
  none: none,
  hidden: hidden,
);

$outline-styles: (
  solid: solid,
  dashed: dashed,
  dotted: dotted,
  double: double,
  groove: groove,
  ridge: ridge,
  inset: inset,
  outset: outset,
  none: none,
  hidden: hidden,
);
