@use "../variables/positions" as *;
@use "../variables/sizings" as *;
@use "../variables/grid-system" as *;
@use "../functions/mixins" as *;

@layer positions {
  /* Position */
  @each $position in $position-values {
    .position-#{$position} {
      position: #{$position};
    }
  }
  @each $position in $position-values {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:position-#{$position} {
          position: #{$position};
        }
      }
    }
  }

  /* Top */
  @each $ratio, $ratio-value in $ratios {
    .top-#{$ratio} {
      top: #{$ratio-value};
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    .top-#{$spacer} {
      top: #{$spacer-value};
    }
  }
  @each $ratio, $ratio-value in $ratios {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:top-#{$ratio} {
          top: #{$ratio-value};
        }
      }
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:top-#{$spacer} {
          top: #{$spacer-value};
        }
      }
    }
  }

  /* Bottom */
  @each $ratio, $ratio-value in $ratios {
    .bottom-#{$ratio} {
      bottom: #{$ratio-value};
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    .bottom-#{$spacer} {
      bottom: #{$spacer-value};
    }
  }
  @each $ratio, $ratio-value in $ratios {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:bottom-#{$ratio} {
          bottom: #{$ratio-value};
        }
      }
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:bottom-#{$spacer} {
          bottom: #{$spacer-value};
        }
      }
    }
  }

  /* Left */
  @each $ratio, $ratio-value in $ratios {
    .left-#{$ratio} {
      left: #{$ratio-value};
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    .left-#{$spacer} {
      left: #{$spacer-value};
    }
  }
  @each $ratio, $ratio-value in $ratios {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:left-#{$ratio} {
          left: #{$ratio-value};
        }
      }
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:left-#{$spacer} {
          left: #{$spacer-value};
        }
      }
    }
  }

  /* Right */
  @each $ratio, $ratio-value in $ratios {
    .right-#{$ratio} {
      right: #{$ratio-value};
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    .right-#{$spacer} {
      right: #{$spacer-value};
    }
  }
  @each $ratio, $ratio-value in $ratios {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:right-#{$ratio} {
          right: #{$ratio-value};
        }
      }
    }
  }
  @each $spacer, $spacer-value in $spacer-widths {
    @each $breakpoint, $breakpoint-value in $breakpoints {
      @include mediaMin($breakpoint) {
        .#{$breakpoint}\:right-#{$spacer} {
          right: #{$spacer-value};
        }
      }
    }
  }
}
